*{
  margin:0;
  padding:0;

  box-sizing:border-box;

  font-family:
    Arial,
    Helvetica,
    sans-serif;
}

body{
  width:100vw;
  height:100vh;

  background:#111;

  display:flex;

  justify-content:center;
  align-items:center;

  color:white;
}

.screen{
  display:none;
  flex-direction:column;
  gap:15px;
}

.screen.active{
  display:flex;
}

.container{
  width:90%;
  max-width:400px;

  background:#1e1e1e;

  padding:30px;

  border-radius:20px;

  box-shadow:
    0 0 20px
    rgba(0,0,0,0.4);
}

h2{
  text-align:center;
}

input{
  width:100%;

  padding:15px;

  border:none;

  border-radius:10px;

  background:#2c2c2c;

  color:white;

  font-size:16px;
}

input:focus{
  outline:2px solid #5c8dff;
}

button{
  width:100%;

  padding:15px;

  border:none;

  border-radius:10px;

  background:#5c8dff;

  color:white;

  font-size:16px;
  font-weight:bold;

  cursor:pointer;

  transition:0.2s;
}

button:hover{
  transform:scale(1.02);
}


/* =========================
   WAITING
========================= */

#waitingText{
  text-align:center;

  opacity:0.8;
}


/* =========================
   VOTING
========================= */

#votingAnswers{
  display:flex;

  flex-direction:column;

  gap:10px;

  width:100%;
}

#votingPrompt{
  text-align:center;

  opacity:0.7;

  font-size:16px;

  line-height:1.4;
}

.voteButton{
  width:100%;

  padding:15px;

  border:none;

  border-radius:12px;

  background:#2c2c2c;

  color:white;

  font-size:16px;

  cursor:pointer;

  transition:0.2s;
}

.voteButton:hover{
  transform:scale(1.02);

  background:#3a3a3a;
}

.voteButton.selected{
  background:#5c8dff;

  border:2px solid white;

  transform:scale(1.03);
}


/* =========================
   RESULTS
========================= */

.scoreItem{
  background:#2c2c2c;

  padding:15px;

  border-radius:12px;

  font-size:18px;

  font-weight:bold;

  text-align:center;
}

#resultScores{
  display:flex;

  flex-direction:column;

  gap:10px;

  width:100%;
}